<p id="notice"><%= notice %></p>

<h1>Core Files</h1>

<table>
  <thead>
    <tr>
      <th>File name</th>
      <th>Mdsum</th>
      <th>Size</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @core_files.each do |core_file| %>
      <tr>
        <td><%= core_file.file_name %></td>
        <td><%= core_file.mdsum %></td>
        <td><%= core_file.size %></td>
        <td><%= core_file.content %></td>
        <td><%= link_to 'Show', core_file %></td>
        <td><%= link_to 'Edit', edit_core_file_path(core_file) %></td>
        <td><%= link_to 'Destroy', core_file, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Core File', new_core_file_path %>
